/* items formerly retrotxt.css that conflict with options.css */

/*
- Use flexbox for our layout to stack HTML items
- apply a work-around fix for Chrome browser's vertical line, font artefacts
*/

body {
  display: flex;
  flex-direction: column;
  text-shadow: none;
}

/*
'Text and font information' style
font color value is the invert of the background colour
- change 'order: 3;' to move text information header to the bottom of the screen
*/

header {
  /* ver 2.2: the filter styles has been moved to dom.setColor() */
  font-family: vgalcd;
  font-size: 1.5em;
  line-height: 1.6em;
  /* csslint ignore:start */
  mix-blend-mode: difference;
  /* csslint ignore:end */
  order: 1;
  position: sticky;
  text-align: left;
  text-indent: 1em;
  top: 1em;
  width: 100%;
}

header > strong {
  cursor: default;
  user-select: none;
}

header .unknown {
  /* note: header filter: invert(100%); */
  color: rgb(0, 170, 170);
}

main {
  display: inline-block;
  letter-spacing: 0;
  order: 2;
}

main i {
  font-style: normal;
  font-weight: normal;
}

pre {
  border: 0 dotted rgba(0, 128, 0, 1);
  padding: 0;
  /* for text that lack linebreaks this wraps text to the tab width */
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

body > div#checkError {
  background-color: rgb(255, 0, 0);
  border: 0.1em solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: none;
  font-family: var(--font-console);
  padding: 1em;
}

body > div#checkError > kbd {
  /* Source: https://github.com/auth0/kbd */
  background: rgb(238, 238, 238);
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgb(119, 119, 119);
  color: rgb(85, 85, 85);
  cursor: pointer;
  display: inline-block;
  font-size: small;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 2px;
  padding: 0 4px;
  vertical-align: text-bottom;
}