header {
  background: #ff7e5f;
  background: url("https://www.transparenttextures.com/patterns/asfalt-light.png"), url("https://www.transparenttextures.com/patterns/asfalt-dark.png"), linear-gradient(to right, #ff7e5f, #feb47b);
}