/*
 filename: text_colors_8bit.css

  256 (8-bit) Colours for use with SGR 38 and SGR 48 values used by parse_ansi.js
  These colour values were taken from Micah Elliott's colortrans.py
  https://gist.github.com/MicahElliott/719710
*/

div > i.SGR3800 {
  color: #000000;
}

div > i.SGR3801 {
  color: #800000;
}

div > i.SGR3802 {
  color: #008000;
}

div > i.SGR3803 {
  color: #808000;
}

div > i.SGR3804 {
  color: #000080;
}

div > i.SGR3805 {
  color: #800080;
}

div > i.SGR3806 {
  color: #008080;
}

div > i.SGR3807 {
  color: #c0c0c0;
}

div > i.SGR3808 {
  color: #808080;
}

div > i.SGR3809 {
  color: #ff0000;
}

div > i.SGR3810 {
  color: #00ff00;
}

div > i.SGR3811 {
  color: #ffff00;
}

div > i.SGR3812 {
  color: #0000ff;
}

div > i.SGR3813 {
  color: #ff00ff;
}

div > i.SGR3814 {
  color: #00ffff;
}

div > i.SGR3815 {
  color: #ffffff;
}

div > i.SGR3816 {
  color: #000000;
}

div > i.SGR3817 {
  color: #00005f;
}

div > i.SGR3818 {
  color: #000087;
}

div > i.SGR3819 {
  color: #0000af;
}

div > i.SGR3820 {
  color: #0000d7;
}

div > i.SGR3821 {
  color: #0000ff;
}

div > i.SGR3822 {
  color: #005f00;
}

div > i.SGR3823 {
  color: #005f5f;
}

div > i.SGR3824 {
  color: #005f87;
}

div > i.SGR3825 {
  color: #005faf;
}

div > i.SGR3826 {
  color: #005fd7;
}

div > i.SGR3827 {
  color: #005fff;
}

div > i.SGR3828 {
  color: #008700;
}

div > i.SGR3829 {
  color: #00875f;
}

div > i.SGR3830 {
  color: #008787;
}

div > i.SGR3831 {
  color: #0087af;
}

div > i.SGR3832 {
  color: #0087d7;
}

div > i.SGR3833 {
  color: #0087ff;
}

div > i.SGR3834 {
  color: #00af00;
}

div > i.SGR3835 {
  color: #00af5f;
}

div > i.SGR3836 {
  color: #00af87;
}

div > i.SGR3837 {
  color: #00afaf;
}

div > i.SGR3838 {
  color: #00afd7;
}

div > i.SGR3839 {
  color: #00afff;
}

div > i.SGR3840 {
  color: #00d700;
}

div > i.SGR3841 {
  color: #00d75f;
}

div > i.SGR3842 {
  color: #00d787;
}

div > i.SGR3843 {
  color: #00d7af;
}

div > i.SGR3844 {
  color: #00d7d7;
}

div > i.SGR3845 {
  color: #00d7ff;
}

div > i.SGR3846 {
  color: #00ff00;
}

div > i.SGR3847 {
  color: #00ff5f;
}

div > i.SGR3848 {
  color: #00ff87;
}

div > i.SGR3849 {
  color: #00ffaf;
}

div > i.SGR3850 {
  color: #00ffd7;
}

div > i.SGR3851 {
  color: #00ffff;
}

div > i.SGR3852 {
  color: #5f0000;
}

div > i.SGR3853 {
  color: #5f005f;
}

div > i.SGR3854 {
  color: #5f0087;
}

div > i.SGR3855 {
  color: #5f00af;
}

div > i.SGR3856 {
  color: #5f00d7;
}

div > i.SGR3857 {
  color: #5f00ff;
}

div > i.SGR3858 {
  color: #5f5f00;
}

div > i.SGR3859 {
  color: #5f5f5f;
}

div > i.SGR3860 {
  color: #5f5f87;
}

div > i.SGR3861 {
  color: #5f5faf;
}

div > i.SGR3862 {
  color: #5f5fd7;
}

div > i.SGR3863 {
  color: #5f5fff;
}

div > i.SGR3864 {
  color: #5f8700;
}

div > i.SGR3865 {
  color: #5f875f;
}

div > i.SGR3866 {
  color: #5f8787;
}

div > i.SGR3867 {
  color: #5f87af;
}

div > i.SGR3868 {
  color: #5f87d7;
}

div > i.SGR3869 {
  color: #5f87ff;
}

div > i.SGR3870 {
  color: #5faf00;
}

div > i.SGR3871 {
  color: #5faf5f;
}

div > i.SGR3872 {
  color: #5faf87;
}

div > i.SGR3873 {
  color: #5fafaf;
}

div > i.SGR3874 {
  color: #5fafd7;
}

div > i.SGR3875 {
  color: #5fafff;
}

div > i.SGR3876 {
  color: #5fd700;
}

div > i.SGR3877 {
  color: #5fd75f;
}

div > i.SGR3878 {
  color: #5fd787;
}

div > i.SGR3879 {
  color: #5fd7af;
}

div > i.SGR3880 {
  color: #5fd7d7;
}

div > i.SGR3881 {
  color: #5fd7ff;
}

div > i.SGR3882 {
  color: #5fff00;
}

div > i.SGR3883 {
  color: #5fff5f;
}

div > i.SGR3884 {
  color: #5fff87;
}

div > i.SGR3885 {
  color: #5fffaf;
}

div > i.SGR3886 {
  color: #5fffd7;
}

div > i.SGR3887 {
  color: #5fffff;
}

div > i.SGR3888 {
  color: #870000;
}

div > i.SGR3889 {
  color: #87005f;
}

div > i.SGR3890 {
  color: #870087;
}

div > i.SGR3891 {
  color: #8700af;
}

div > i.SGR3892 {
  color: #8700d7;
}

div > i.SGR3893 {
  color: #8700ff;
}

div > i.SGR3894 {
  color: #875f00;
}

div > i.SGR3895 {
  color: #875f5f;
}

div > i.SGR3896 {
  color: #875f87;
}

div > i.SGR3897 {
  color: #875faf;
}

div > i.SGR3898 {
  color: #875fd7;
}

div > i.SGR3899 {
  color: #875fff;
}

div > i.SGR38100 {
  color: #878700;
}

div > i.SGR38101 {
  color: #87875f;
}

div > i.SGR38102 {
  color: #878787;
}

div > i.SGR38103 {
  color: #8787af;
}

div > i.SGR38104 {
  color: #8787d7;
}

div > i.SGR38105 {
  color: #8787ff;
}

div > i.SGR38106 {
  color: #87af00;
}

div > i.SGR38107 {
  color: #87af5f;
}

div > i.SGR38108 {
  color: #87af87;
}

div > i.SGR38109 {
  color: #87afaf;
}

div > i.SGR38110 {
  color: #87afd7;
}

div > i.SGR38111 {
  color: #87afff;
}

div > i.SGR38112 {
  color: #87d700;
}

div > i.SGR38113 {
  color: #87d75f;
}

div > i.SGR38114 {
  color: #87d787;
}

div > i.SGR38115 {
  color: #87d7af;
}

div > i.SGR38116 {
  color: #87d7d7;
}

div > i.SGR38117 {
  color: #87d7ff;
}

div > i.SGR38118 {
  color: #87ff00;
}

div > i.SGR38119 {
  color: #87ff5f;
}

div > i.SGR38120 {
  color: #87ff87;
}

div > i.SGR38121 {
  color: #87ffaf;
}

div > i.SGR38122 {
  color: #87ffd7;
}

div > i.SGR38123 {
  color: #87ffff;
}

div > i.SGR38124 {
  color: #af0000;
}

div > i.SGR38125 {
  color: #af005f;
}

div > i.SGR38126 {
  color: #af0087;
}

div > i.SGR38127 {
  color: #af00af;
}

div > i.SGR38128 {
  color: #af00d7;
}

div > i.SGR38129 {
  color: #af00ff;
}

div > i.SGR38130 {
  color: #af5f00;
}

div > i.SGR38131 {
  color: #af5f5f;
}

div > i.SGR38132 {
  color: #af5f87;
}

div > i.SGR38133 {
  color: #af5faf;
}

div > i.SGR38134 {
  color: #af5fd7;
}

div > i.SGR38135 {
  color: #af5fff;
}

div > i.SGR38136 {
  color: #af8700;
}

div > i.SGR38137 {
  color: #af875f;
}

div > i.SGR38138 {
  color: #af8787;
}

div > i.SGR38139 {
  color: #af87af;
}

div > i.SGR38140 {
  color: #af87d7;
}

div > i.SGR38141 {
  color: #af87ff;
}

div > i.SGR38142 {
  color: #afaf00;
}

div > i.SGR38143 {
  color: #afaf5f;
}

div > i.SGR38144 {
  color: #afaf87;
}

div > i.SGR38145 {
  color: #afafaf;
}

div > i.SGR38146 {
  color: #afafd7;
}

div > i.SGR38147 {
  color: #afafff;
}

div > i.SGR38148 {
  color: #afd700;
}

div > i.SGR38149 {
  color: #afd75f;
}

div > i.SGR38150 {
  color: #afd787;
}

div > i.SGR38151 {
  color: #afd7af;
}

div > i.SGR38152 {
  color: #afd7d7;
}

div > i.SGR38153 {
  color: #afd7ff;
}

div > i.SGR38154 {
  color: #afff00;
}

div > i.SGR38155 {
  color: #afff5f;
}

div > i.SGR38156 {
  color: #afff87;
}

div > i.SGR38157 {
  color: #afffaf;
}

div > i.SGR38158 {
  color: #afffd7;
}

div > i.SGR38159 {
  color: #afffff;
}

div > i.SGR38160 {
  color: #d70000;
}

div > i.SGR38161 {
  color: #d7005f;
}

div > i.SGR38162 {
  color: #d70087;
}

div > i.SGR38163 {
  color: #d700af;
}

div > i.SGR38164 {
  color: #d700d7;
}

div > i.SGR38165 {
  color: #d700ff;
}

div > i.SGR38166 {
  color: #d75f00;
}

div > i.SGR38167 {
  color: #d75f5f;
}

div > i.SGR38168 {
  color: #d75f87;
}

div > i.SGR38169 {
  color: #d75faf;
}

div > i.SGR38170 {
  color: #d75fd7;
}

div > i.SGR38171 {
  color: #d75fff;
}

div > i.SGR38172 {
  color: #d78700;
}

div > i.SGR38173 {
  color: #d7875f;
}

div > i.SGR38174 {
  color: #d78787;
}

div > i.SGR38175 {
  color: #d787af;
}

div > i.SGR38176 {
  color: #d787d7;
}

div > i.SGR38177 {
  color: #d787ff;
}

div > i.SGR38178 {
  color: #d7af00;
}

div > i.SGR38179 {
  color: #d7af5f;
}

div > i.SGR38180 {
  color: #d7af87;
}

div > i.SGR38181 {
  color: #d7afaf;
}

div > i.SGR38182 {
  color: #d7afd7;
}

div > i.SGR38183 {
  color: #d7afff;
}

div > i.SGR38184 {
  color: #d7d700;
}

div > i.SGR38185 {
  color: #d7d75f;
}

div > i.SGR38186 {
  color: #d7d787;
}

div > i.SGR38187 {
  color: #d7d7af;
}

div > i.SGR38188 {
  color: #d7d7d7;
}

div > i.SGR38189 {
  color: #d7d7ff;
}

div > i.SGR38190 {
  color: #d7ff00;
}

div > i.SGR38191 {
  color: #d7ff5f;
}

div > i.SGR38192 {
  color: #d7ff87;
}

div > i.SGR38193 {
  color: #d7ffaf;
}

div > i.SGR38194 {
  color: #d7ffd7;
}

div > i.SGR38195 {
  color: #d7ffff;
}

div > i.SGR38196 {
  color: #ff0000;
}

div > i.SGR38197 {
  color: #ff005f;
}

div > i.SGR38198 {
  color: #ff0087;
}

div > i.SGR38199 {
  color: #ff00af;
}

div > i.SGR38200 {
  color: #ff00d7;
}

div > i.SGR38201 {
  color: #ff00ff;
}

div > i.SGR38202 {
  color: #ff5f00;
}

div > i.SGR38203 {
  color: #ff5f5f;
}

div > i.SGR38204 {
  color: #ff5f87;
}

div > i.SGR38205 {
  color: #ff5faf;
}

div > i.SGR38206 {
  color: #ff5fd7;
}

div > i.SGR38207 {
  color: #ff5fff;
}

div > i.SGR38208 {
  color: #ff8700;
}

div > i.SGR38209 {
  color: #ff875f;
}

div > i.SGR38210 {
  color: #ff8787;
}

div > i.SGR38211 {
  color: #ff87af;
}

div > i.SGR38212 {
  color: #ff87d7;
}

div > i.SGR38213 {
  color: #ff87ff;
}

div > i.SGR38214 {
  color: #ffaf00;
}

div > i.SGR38215 {
  color: #ffaf5f;
}

div > i.SGR38216 {
  color: #ffaf87;
}

div > i.SGR38217 {
  color: #ffafaf;
}

div > i.SGR38218 {
  color: #ffafd7;
}

div > i.SGR38219 {
  color: #ffafff;
}

div > i.SGR38220 {
  color: #ffd700;
}

div > i.SGR38221 {
  color: #ffd75f;
}

div > i.SGR38222 {
  color: #ffd787;
}

div > i.SGR38223 {
  color: #ffd7af;
}

div > i.SGR38224 {
  color: #ffd7d7;
}

div > i.SGR38225 {
  color: #ffd7ff;
}

div > i.SGR38226 {
  color: #ffff00;
}

div > i.SGR38227 {
  color: #ffff5f;
}

div > i.SGR38228 {
  color: #ffff87;
}

div > i.SGR38229 {
  color: #ffffaf;
}

div > i.SGR38230 {
  color: #ffffd7;
}

div > i.SGR38231 {
  color: #ffffff;
}

/*# Gray-scale range.*/

div > i.SGR38232 {
  color: #080808;
}

div > i.SGR38233 {
  color: #121212;
}

div > i.SGR38234 {
  color: #1c1c1c;
}

div > i.SGR38235 {
  color: #262626;
}

div > i.SGR38236 {
  color: #303030;
}

div > i.SGR38237 {
  color: #3a3a3a;
}

div > i.SGR38238 {
  color: #444444;
}

div > i.SGR38239 {
  color: #4e4e4e;
}

div > i.SGR38240 {
  color: #585858;
}

div > i.SGR38241 {
  color: #626262;
}

div > i.SGR38242 {
  color: #6c6c6c;
}

div > i.SGR38243 {
  color: #767676;
}

div > i.SGR38244 {
  color: #808080;
}

div > i.SGR38245 {
  color: #8a8a8a;
}

div > i.SGR38246 {
  color: #949494;
}

div > i.SGR38247 {
  color: #9e9e9e;
}

div > i.SGR38248 {
  color: #a8a8a8;
}

div > i.SGR38249 {
  color: #b2b2b2;
}

div > i.SGR38250 {
  color: #bcbcbc;
}

div > i.SGR38251 {
  color: #c6c6c6;
}

div > i.SGR38252 {
  color: #d0d0d0;
}

div > i.SGR38253 {
  color: #dadada;
}

div > i.SGR38254 {
  color: #e4e4e4;
}

div > i.SGR38255 {
  color: #eeeeee;
}

div > i.SGR4800 {
  background-color: #000000;
}

div > i.SGR4801 {
  background-color: #800000;
}

div > i.SGR4802 {
  background-color: #008000;
}

div > i.SGR4803 {
  background-color: #808000;
}

div > i.SGR4804 {
  background-color: #000080;
}

div > i.SGR4805 {
  background-color: #800080;
}

div > i.SGR4806 {
  background-color: #008080;
}

div > i.SGR4807 {
  background-color: #c0c0c0;
}

div > i.SGR4808 {
  background-color: #808080;
}

div > i.SGR4809 {
  background-color: #ff0000;
}

div > i.SGR4810 {
  background-color: #00ff00;
}

div > i.SGR4811 {
  background-color: #ffff00;
}

div > i.SGR4812 {
  background-color: #0000ff;
}

div > i.SGR4813 {
  background-color: #ff00ff;
}

div > i.SGR4814 {
  background-color: #00ffff;
}

div > i.SGR4815 {
  background-color: #ffffff;
}

div > i.SGR4816 {
  background-color: #000000;
}

div > i.SGR4817 {
  background-color: #00005f;
}

div > i.SGR4818 {
  background-color: #000087;
}

div > i.SGR4819 {
  background-color: #0000af;
}

div > i.SGR4820 {
  background-color: #0000d7;
}

div > i.SGR4821 {
  background-color: #0000ff;
}

div > i.SGR4822 {
  background-color: #005f00;
}

div > i.SGR4823 {
  background-color: #005f5f;
}

div > i.SGR4824 {
  background-color: #005f87;
}

div > i.SGR4825 {
  background-color: #005faf;
}

div > i.SGR4826 {
  background-color: #005fd7;
}

div > i.SGR4827 {
  background-color: #005fff;
}

div > i.SGR4828 {
  background-color: #008700;
}

div > i.SGR4829 {
  background-color: #00875f;
}

div > i.SGR4830 {
  background-color: #008787;
}

div > i.SGR4831 {
  background-color: #0087af;
}

div > i.SGR4832 {
  background-color: #0087d7;
}

div > i.SGR4833 {
  background-color: #0087ff;
}

div > i.SGR4834 {
  background-color: #00af00;
}

div > i.SGR4835 {
  background-color: #00af5f;
}

div > i.SGR4836 {
  background-color: #00af87;
}

div > i.SGR4837 {
  background-color: #00afaf;
}

div > i.SGR4838 {
  background-color: #00afd7;
}

div > i.SGR4839 {
  background-color: #00afff;
}

div > i.SGR4840 {
  background-color: #00d700;
}

div > i.SGR4841 {
  background-color: #00d75f;
}

div > i.SGR4842 {
  background-color: #00d787;
}

div > i.SGR4843 {
  background-color: #00d7af;
}

div > i.SGR4844 {
  background-color: #00d7d7;
}

div > i.SGR4845 {
  background-color: #00d7ff;
}

div > i.SGR4846 {
  background-color: #00ff00;
}

div > i.SGR4847 {
  background-color: #00ff5f;
}

div > i.SGR4848 {
  background-color: #00ff87;
}

div > i.SGR4849 {
  background-color: #00ffaf;
}

div > i.SGR4850 {
  background-color: #00ffd7;
}

div > i.SGR4851 {
  background-color: #00ffff;
}

div > i.SGR4852 {
  background-color: #5f0000;
}

div > i.SGR4853 {
  background-color: #5f005f;
}

div > i.SGR4854 {
  background-color: #5f0087;
}

div > i.SGR4855 {
  background-color: #5f00af;
}

div > i.SGR4856 {
  background-color: #5f00d7;
}

div > i.SGR4857 {
  background-color: #5f00ff;
}

div > i.SGR4858 {
  background-color: #5f5f00;
}

div > i.SGR4859 {
  background-color: #5f5f5f;
}

div > i.SGR4860 {
  background-color: #5f5f87;
}

div > i.SGR4861 {
  background-color: #5f5faf;
}

div > i.SGR4862 {
  background-color: #5f5fd7;
}

div > i.SGR4863 {
  background-color: #5f5fff;
}

div > i.SGR4864 {
  background-color: #5f8700;
}

div > i.SGR4865 {
  background-color: #5f875f;
}

div > i.SGR4866 {
  background-color: #5f8787;
}

div > i.SGR4867 {
  background-color: #5f87af;
}

div > i.SGR4868 {
  background-color: #5f87d7;
}

div > i.SGR4869 {
  background-color: #5f87ff;
}

div > i.SGR4870 {
  background-color: #5faf00;
}

div > i.SGR4871 {
  background-color: #5faf5f;
}

div > i.SGR4872 {
  background-color: #5faf87;
}

div > i.SGR4873 {
  background-color: #5fafaf;
}

div > i.SGR4874 {
  background-color: #5fafd7;
}

div > i.SGR4875 {
  background-color: #5fafff;
}

div > i.SGR4876 {
  background-color: #5fd700;
}

div > i.SGR4877 {
  background-color: #5fd75f;
}

div > i.SGR4878 {
  background-color: #5fd787;
}

div > i.SGR4879 {
  background-color: #5fd7af;
}

div > i.SGR4880 {
  background-color: #5fd7d7;
}

div > i.SGR4881 {
  background-color: #5fd7ff;
}

div > i.SGR4882 {
  background-color: #5fff00;
}

div > i.SGR4883 {
  background-color: #5fff5f;
}

div > i.SGR4884 {
  background-color: #5fff87;
}

div > i.SGR4885 {
  background-color: #5fffaf;
}

div > i.SGR4886 {
  background-color: #5fffd7;
}

div > i.SGR4887 {
  background-color: #5fffff;
}

div > i.SGR4888 {
  background-color: #870000;
}

div > i.SGR4889 {
  background-color: #87005f;
}

div > i.SGR4890 {
  background-color: #870087;
}

div > i.SGR4891 {
  background-color: #8700af;
}

div > i.SGR4892 {
  background-color: #8700d7;
}

div > i.SGR4893 {
  background-color: #8700ff;
}

div > i.SGR4894 {
  background-color: #875f00;
}

div > i.SGR4895 {
  background-color: #875f5f;
}

div > i.SGR4896 {
  background-color: #875f87;
}

div > i.SGR4897 {
  background-color: #875faf;
}

div > i.SGR4898 {
  background-color: #875fd7;
}

div > i.SGR4899 {
  background-color: #875fff;
}

div > i.SGR48100 {
  background-color: #878700;
}

div > i.SGR48101 {
  background-color: #87875f;
}

div > i.SGR48102 {
  background-color: #878787;
}

div > i.SGR48103 {
  background-color: #8787af;
}

div > i.SGR48104 {
  background-color: #8787d7;
}

div > i.SGR48105 {
  background-color: #8787ff;
}

div > i.SGR48106 {
  background-color: #87af00;
}

div > i.SGR48107 {
  background-color: #87af5f;
}

div > i.SGR48108 {
  background-color: #87af87;
}

div > i.SGR48109 {
  background-color: #87afaf;
}

div > i.SGR48110 {
  background-color: #87afd7;
}

div > i.SGR48111 {
  background-color: #87afff;
}

div > i.SGR48112 {
  background-color: #87d700;
}

div > i.SGR48113 {
  background-color: #87d75f;
}

div > i.SGR48114 {
  background-color: #87d787;
}

div > i.SGR48115 {
  background-color: #87d7af;
}

div > i.SGR48116 {
  background-color: #87d7d7;
}

div > i.SGR48117 {
  background-color: #87d7ff;
}

div > i.SGR48118 {
  background-color: #87ff00;
}

div > i.SGR48119 {
  background-color: #87ff5f;
}

div > i.SGR48120 {
  background-color: #87ff87;
}

div > i.SGR48121 {
  background-color: #87ffaf;
}

div > i.SGR48122 {
  background-color: #87ffd7;
}

div > i.SGR48123 {
  background-color: #87ffff;
}

div > i.SGR48124 {
  background-color: #af0000;
}

div > i.SGR48125 {
  background-color: #af005f;
}

div > i.SGR48126 {
  background-color: #af0087;
}

div > i.SGR48127 {
  background-color: #af00af;
}

div > i.SGR48128 {
  background-color: #af00d7;
}

div > i.SGR48129 {
  background-color: #af00ff;
}

div > i.SGR48130 {
  background-color: #af5f00;
}

div > i.SGR48131 {
  background-color: #af5f5f;
}

div > i.SGR48132 {
  background-color: #af5f87;
}

div > i.SGR48133 {
  background-color: #af5faf;
}

div > i.SGR48134 {
  background-color: #af5fd7;
}

div > i.SGR48135 {
  background-color: #af5fff;
}

div > i.SGR48136 {
  background-color: #af8700;
}

div > i.SGR48137 {
  background-color: #af875f;
}

div > i.SGR48138 {
  background-color: #af8787;
}

div > i.SGR48139 {
  background-color: #af87af;
}

div > i.SGR48140 {
  background-color: #af87d7;
}

div > i.SGR48141 {
  background-color: #af87ff;
}

div > i.SGR48142 {
  background-color: #afaf00;
}

div > i.SGR48143 {
  background-color: #afaf5f;
}

div > i.SGR48144 {
  background-color: #afaf87;
}

div > i.SGR48145 {
  background-color: #afafaf;
}

div > i.SGR48146 {
  background-color: #afafd7;
}

div > i.SGR48147 {
  background-color: #afafff;
}

div > i.SGR48148 {
  background-color: #afd700;
}

div > i.SGR48149 {
  background-color: #afd75f;
}

div > i.SGR48150 {
  background-color: #afd787;
}

div > i.SGR48151 {
  background-color: #afd7af;
}

div > i.SGR48152 {
  background-color: #afd7d7;
}

div > i.SGR48153 {
  background-color: #afd7ff;
}

div > i.SGR48154 {
  background-color: #afff00;
}

div > i.SGR48155 {
  background-color: #afff5f;
}

div > i.SGR48156 {
  background-color: #afff87;
}

div > i.SGR48157 {
  background-color: #afffaf;
}

div > i.SGR48158 {
  background-color: #afffd7;
}

div > i.SGR48159 {
  background-color: #afffff;
}

div > i.SGR48160 {
  background-color: #d70000;
}

div > i.SGR48161 {
  background-color: #d7005f;
}

div > i.SGR48162 {
  background-color: #d70087;
}

div > i.SGR48163 {
  background-color: #d700af;
}

div > i.SGR48164 {
  background-color: #d700d7;
}

div > i.SGR48165 {
  background-color: #d700ff;
}

div > i.SGR48166 {
  background-color: #d75f00;
}

div > i.SGR48167 {
  background-color: #d75f5f;
}

div > i.SGR48168 {
  background-color: #d75f87;
}

div > i.SGR48169 {
  background-color: #d75faf;
}

div > i.SGR48170 {
  background-color: #d75fd7;
}

div > i.SGR48171 {
  background-color: #d75fff;
}

div > i.SGR48172 {
  background-color: #d78700;
}

div > i.SGR48173 {
  background-color: #d7875f;
}

div > i.SGR48174 {
  background-color: #d78787;
}

div > i.SGR48175 {
  background-color: #d787af;
}

div > i.SGR48176 {
  background-color: #d787d7;
}

div > i.SGR48177 {
  background-color: #d787ff;
}

div > i.SGR48178 {
  background-color: #d7af00;
}

div > i.SGR48179 {
  background-color: #d7af5f;
}

div > i.SGR48180 {
  background-color: #d7af87;
}

div > i.SGR48181 {
  background-color: #d7afaf;
}

div > i.SGR48182 {
  background-color: #d7afd7;
}

div > i.SGR48183 {
  background-color: #d7afff;
}

div > i.SGR48184 {
  background-color: #d7d700;
}

div > i.SGR48185 {
  background-color: #d7d75f;
}

div > i.SGR48186 {
  background-color: #d7d787;
}

div > i.SGR48187 {
  background-color: #d7d7af;
}

div > i.SGR48188 {
  background-color: #d7d7d7;
}

div > i.SGR48189 {
  background-color: #d7d7ff;
}

div > i.SGR48190 {
  background-color: #d7ff00;
}

div > i.SGR48191 {
  background-color: #d7ff5f;
}

div > i.SGR48192 {
  background-color: #d7ff87;
}

div > i.SGR48193 {
  background-color: #d7ffaf;
}

div > i.SGR48194 {
  background-color: #d7ffd7;
}

div > i.SGR48195 {
  background-color: #d7ffff;
}

div > i.SGR48196 {
  background-color: #ff0000;
}

div > i.SGR48197 {
  background-color: #ff005f;
}

div > i.SGR48198 {
  background-color: #ff0087;
}

div > i.SGR48199 {
  background-color: #ff00af;
}

div > i.SGR48200 {
  background-color: #ff00d7;
}

div > i.SGR48201 {
  background-color: #ff00ff;
}

div > i.SGR48202 {
  background-color: #ff5f00;
}

div > i.SGR48203 {
  background-color: #ff5f5f;
}

div > i.SGR48204 {
  background-color: #ff5f87;
}

div > i.SGR48205 {
  background-color: #ff5faf;
}

div > i.SGR48206 {
  background-color: #ff5fd7;
}

div > i.SGR48207 {
  background-color: #ff5fff;
}

div > i.SGR48208 {
  background-color: #ff8700;
}

div > i.SGR48209 {
  background-color: #ff875f;
}

div > i.SGR48210 {
  background-color: #ff8787;
}

div > i.SGR48211 {
  background-color: #ff87af;
}

div > i.SGR48212 {
  background-color: #ff87d7;
}

div > i.SGR48213 {
  background-color: #ff87ff;
}

div > i.SGR48214 {
  background-color: #ffaf00;
}

div > i.SGR48215 {
  background-color: #ffaf5f;
}

div > i.SGR48216 {
  background-color: #ffaf87;
}

div > i.SGR48217 {
  background-color: #ffafaf;
}

div > i.SGR48218 {
  background-color: #ffafd7;
}

div > i.SGR48219 {
  background-color: #ffafff;
}

div > i.SGR48220 {
  background-color: #ffd700;
}

div > i.SGR48221 {
  background-color: #ffd75f;
}

div > i.SGR48222 {
  background-color: #ffd787;
}

div > i.SGR48223 {
  background-color: #ffd7af;
}

div > i.SGR48224 {
  background-color: #ffd7d7;
}

div > i.SGR48225 {
  background-color: #ffd7ff;
}

div > i.SGR48226 {
  background-color: #ffff00;
}

div > i.SGR48227 {
  background-color: #ffff5f;
}

div > i.SGR48228 {
  background-color: #ffff87;
}

div > i.SGR48229 {
  background-color: #ffffaf;
}

div > i.SGR48230 {
  background-color: #ffffd7;
}

div > i.SGR48231 {
  background-color: #ffffff;
}

/*# Gray-scale range.*/

div > i.SGR48232 {
  background-color: #080808;
}

div > i.SGR48233 {
  background-color: #121212;
}

div > i.SGR48234 {
  background-color: #1c1c1c;
}

div > i.SGR48235 {
  background-color: #262626;
}

div > i.SGR48236 {
  background-color: #303030;
}

div > i.SGR48237 {
  background-color: #3a3a3a;
}

div > i.SGR48238 {
  background-color: #444444;
}

div > i.SGR48239 {
  background-color: #4e4e4e;
}

div > i.SGR48240 {
  background-color: #585858;
}

div > i.SGR48241 {
  background-color: #626262;
}

div > i.SGR48242 {
  background-color: #6c6c6c;
}

div > i.SGR48243 {
  background-color: #767676;
}

div > i.SGR48244 {
  background-color: #808080;
}

div > i.SGR48245 {
  background-color: #8a8a8a;
}

div > i.SGR48246 {
  background-color: #949494;
}

div > i.SGR48247 {
  background-color: #9e9e9e;
}

div > i.SGR48248 {
  background-color: #a8a8a8;
}

div > i.SGR48249 {
  background-color: #b2b2b2;
}

div > i.SGR48250 {
  background-color: #bcbcbc;
}

div > i.SGR48251 {
  background-color: #c6c6c6;
}

div > i.SGR48252 {
  background-color: #d0d0d0;
}

div > i.SGR48253 {
  background-color: #dadada;
}

div > i.SGR48254 {
  background-color: #e4e4e4;
}

div > i.SGR48255 {
  background-color: #eeeeee;
}