/*
  filename: text_colors_xterm-ice.css

  ECMA-48 presentation control function colour codes in XTERM 4-bit colour mode
  RGB values taken from Wikipedia https://en.wikipedia.org/wiki/ANSI_escape_code#Colors
*/

div > i.SGR5 {
  animation-name: none;
}

div > i.SGR40.SGR5 {
  background-color: var(--darkgrey);
}

div > i.SGR41.SGR5 {
  background-color: var(--lightred);
}

div > i.SGR42.SGR5 {
  background-color: var(--lightgreen);
}

div > i.SGR43.SGR5 {
  background-color: var(--yellow);
}

div > i.SGR44.SGR5 {
  background-color: var(--lightblue);
}

div > i.SGR45.SGR5 {
  background-color: var(--lightmagenta);
}

div > i.SGR46.SGR5 {
  background-color: var(--lightcyan);
}

div > i.SGR47.SGR5 {
  background-color: var(--white);
}