/*
 filename: text_ecma_48.css

 ECMA-48 presentation control function, SGR (Select Graphic Rendition) codes as CSS
 8.3.117 http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-048.pdf

note:  0.063em = 1px with a 16px font, em is the preferred measurement to px as
// it scales better in CSS
*/

.ED {
  /* erase display */
  display: none;
}

div > i.SGR0 {
  /* reset to defaults */
  animation: none;
  background-color: initial;
  border: 0;
  color: initial;
  filter: none;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  opacity: 1;
  text-decoration: none;
}

div > i.SGR2 {
  /* faint */
  opacity: 0.5;
}

div > i.SGR3 {
  /* italic */
  font-style: italic;
}

div > i.SGR4 {
  /* underline */
  text-decoration: underline;
}

div > i.SGR5 {
  /* blink slow */
  animation: 300ms blink step-end infinite;
}

div > i.SGR6 {
  /* blink fast */
  animation: 100ms blink step-end infinite;
}

div > i.SGR7 {
  /* inverse */
  filter: invert(100%);
  /* csslint ignore:start */
  mix-blend-mode: difference;
  /* csslint ignore:end */
}

div > i.SGR8 {
  /* conceal */
  color: transparent;
}

div > i.SGR9 {
  /* crossed out */
  text-decoration: line-through;
}

div > i.SGR10 {
  /* primary font */
  font-family: inherit;
}

div > i.SGR11 {
  font-family: bios;
  font-size: inherit;
}

div > i.SGR12 {
  font-family: cga;
  font-size: inherit;
}

div > i.SGR13 {
  font-family: cgathin;
  font-size: inherit;
}

div > i.SGR14 {
  font-family: amiga;
  font-size: inherit;
}

div > i.SGR15 {
  font-family: ega8;
  font-size: inherit;
}

div > i.SGR16 {
  font-family: ega9;
  font-size: inherit;
}

div > i.SGR17 {
  font-family: vga8;
  font-size: inherit;
}

div > i.SGR18 {
  font-family: vga9;
  font-size: inherit;
}

div > i.SGR19 {
  font-family: mda;
  font-size: inherit;
}

div > i.SGR20 {
  /* gothic font [ignored, until a suitable font can be found] */
  font-family: inherit;
}

div > i.SGR21 {
  /* double underlined */
  border-bottom: 0.189em;
  border-bottom-style: double;
  margin-bottom: -0.189em;
}

div > i.SGR39 .SGR49 {
  color: initial;
}

div > i.SGR40 {
  /* inherit background will use RetroTxt themes */
  background-color: inherit;
}

div > i.SGR51 {
  /* framed */
  border-bottom: 0.063em;
  border-bottom-style: solid;
  border-top: 0.063em;
  border-top-style: solid;
  margin-bottom: -0.063em;
  margin-top: -0.063em;
}

div > i.SGR52 {
  /* encircled */
  border: 0.063em solid;
  margin: -0.063em;
}

div > i.SGR53 {
  /* over lined */
  border-top: 0.063em;
  border-top-style: solid;
  margin-top: -0.063em;
}