/*
filename: welcome.css

Stylises the privy edge home page
*/

body {
  font-family: var(--font-system);
  font-size: 110%;
  letter-spacing: 0.075em;
  max-width: 1412px;
  margin: auto;
}
body a:link,
body a:visited,
body a:active {
  color: var(--vgagray);
}
body a:hover {
  color: var(--amber);
}

body > #developer {
  background-color: rgb(255, 75, 30);
  color: var(--white);
  display: none;
  margin: 0;
  padding-bottom: 0.2em;
  text-align: center;
}
body > #developer a:link,
body > #developer a:visited {
  color: var(--white);
  text-decoration: none;
}
body > #developer a:hover {
  color: var(--white);
  text-decoration: underline;
}
body > #developer a:active {
  color: var(--white);
}

body > #rtu {
  background-color: rgb(30, 144, 255);
  margin: 0;
  padding-bottom: 0.2em;
}
body > #rtu-ui {
  display: flex;
  justify-content: flex-end;
}
body > #rtu-ui small {
  margin-right: 1em;
}

menu {
  color: var(--white);
  padding: 1em;
  padding-bottom: 0.5em;
  margin-bottom: 0;
}
menu > h1 {
  font-size: 1.1em;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}
menu > h2 {
  color: var(--amber);
  font-family: pc1512;
  font-size: 1.15em;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  margin-top: 1em;
}
menu img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
menu #mark {
  font-size: 1.25em;
  letter-spacing: -0.19em;
}
menu > ul {
  list-style-type: none;
  margin-top: 1em;
}
menu > ul > li {
  display: inline;
  margin: 0.5em;
}
menu > ul > .tooltip > #technobabble {
  padding: 2em;
}
menu > .flex-container {
  display: flex;
  flex-flow: row wrap;
}
menu > .flex-container .flex-item {
  width: 256px;
  margin: 10px;
  margin-left: 0;
}
menu > .flex-container .card {
  background: var(--white);
  color: var(--black);
  transition: 0.25s;
  width: 256px;
  height: 300px;
  font-size: 1em;
}
menu > .flex-container .card:hover {
  color: var(--green);
  background-color: var(--black);
}
menu > .flex-container .card:image {
  width: 256px;
}
menu > .flex-container .card img:hover {
  filter: sepia(100%);
}
menu > .flex-container .card h4 {
  margin: 0;
}
menu > .flex-container .card .container {
  padding: 2px 16px;
}

.orange-border {
  border: 0.2em solid orange;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 1em;
  padding-top: 0;
}
.notice {
  color: var(--white);
  display: none;
  text-align: center;
}
.notice a:link,
.notice a:visited {
  color: var(--white);
  text-decoration: none;
}
.notice a:hover {
  color: var(--white);
  text-decoration: underline;
}
.notice a:active {
  color: var(--white);
}
.notice img {
  border: 1px solid black;
}